description {
	margin: 0 0 1.5em;
}

/* Intro pane */
#report-start {
	display: flex;
	flex-direction: column;
}

#trellis-error-message {
	padding: 5px !important;
	outline: 0;
	flex: 1;
	margin-bottom: 1em !important;
}

#trellis-unrelated-message {
	margin: 1.5em 0 .5em;
}

#trellis-advance-message {
	margin: .5em 0;
}

/* Additional Info pane */
#trellis-email-address-box {
	margin-bottom: 1.5em;
}

#trellis-email-address-box {
	-moz-box-align: center;
}

#trellis-email-address-box label {
	margin-left: 0;
}

#trellis-error-steps-box description {
	margin-bottom: .4em;
}

/* Submitted pane */

#trellis-report-id {
	color: red;
	font-weight: 600;
	outline: 0;
	background: none;
}
