@mixin trellis-window {
	background: var(--material-sidepane);
	--color-form-element-base-background: var(--material-sidepane);
}

@mixin trellis-dialog {
	background: var(--material-background);
	--color-form-element-base-background: var(--material-background);
}

window:root,
window:root > wizard,
body {
	@include trellis-window();
}

window:root > dialog {
	@include trellis-dialog();
}

// Can overwrite default style
window:root .trellis-window {
	@include trellis-window();
}

window:root .trellis-dialog {
	@include trellis-dialog();
}

// Dialogs (e.g. the integration doc prefs window) has 20px padding on MacOS
window:root dialog.trellis-dialog-window {
	@include trellis-window();

	@media (-moz-platform: macos) {
		padding: 20px;
	}
}

window:root[tabsintitlebar] {
	@media (-moz-platform: linux) {
		// Fix background overflow on Linux when no native titlebar
		background: transparent;
	}
}
